/*max 767*/
@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .box-formrecall {
    position: relative;
  	background: #000;
  }
  .box-formrecall-body:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../images/system/bg-box-formrecall.jpg') 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.39;
    z-index: -2;
  }
	
  .box-formrecall-input {
  	background: none;
  	display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 0 auto;
  }
  .box-formrecall-input input[type="submit"] {
  	float: none;
  	border-radius: 5px;
  	width: 248px;
  	order: 2;
  	margin-top: 10px;
  	display: block;
  	margin: 10px auto 0 auto;
  }
  .box-formrecall-input div {
  	border-radius: 5px;
    width: 100%;
  }

  .footer-copy {
  	width: 100%;
  	text-align: center;
  	margin-top: 15px;
  }
  .footer-phone {
  	font-size: 15px;
  }
  footer .btn-default {
  	padding-left: 10px;
  	padding-right: 10px;
  	font-size: 11px;
  }
  .title {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .title-p {
    margin-top: 0;
  }
  .reviews {
    margin-top: 30px;
  }
  .header-logo a {
    font-size: 11px;
  }
  .header-logo img {
    width: 28px;
    margin-right: 7px;
  }
  .header-topline .btn {
    width: 93px;
    padding: 5px 0;
    font-size: 11px;
  }
  .list-routes-boximg {
    height: 174px;
  }
  .list-routes-item {
    margin-bottom: 6px;
  }
  .header-title {
    font-size: 13px;
    line-height: 19px;
  }
  .wd2 {
    margin-top: 25px;
  }
  .wd2.flex-column {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .wd1 {
    width: 100%;
  }
  .wd2 .header-titlebox-span {
    width: 76px;
  }
  .line-1 {
    width: 84px;
    height: 1px;
  }
  .line-2 {
    width: 84px;
    height: 1px;
  }

  .gallery-title {
    font-size: 16px;  
    margin-bottom: 15px;
  }
  .list-serach-result-img {
    margin-bottom: 15px;
  }

  .form-search .header-titlebox-form {
    padding-left: 0;
    padding-right: 0;
  }


  .box-btns {
    text-align: center;
  }
  .box-btns .pull-right {
    float: none !important;
  }
  .box-btns .clearfix {
    display: none;
  }
  .page-title {
    position: relative;
    margin-top: -25px;
  }

  .list-exp-check-boxbtn {
    font-size: 12px;
  }
  .list-exp-check-boxbtn .str {
    margin: 0 2px;
  }
  .side-form-listroutes {
    padding: 30px 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
  }

  .video img {
    width: auto;
    margin: 0 auto;
    height: 180px;
  }

  .list-adw {
    font-size: 12px;
  }
}

/*768*/
@media (min-width: 768px) {
  header {
    margin-top: 88px;
  }
  .inside header {
    margin-top: 62px;
  }
  h1,
  .h1 {
    font-size: 28px;
  }
  h2,
  .h2 {
    font-size: 24px;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
	.footer-line {
		margin: 35px 0;
	}
	.footer-logo {
	  order: 1;
	}
	.footer-god {
	  order: 3;
	}
	.footer-copy {
	  order: 2;
	}
  .gallery-about-slide {
    display: none;
  }
  .list-brends > div {
    width: 13%;
  }
  .list-brends img {
    margin: 0 auto;
  }
  .header-titlebox-form {
    padding: 40px 45px 50px 45px;
    margin-bottom: 45px;
  }
  .header-title {
    font-size: 24px;
    line-height: 30px;
  }
  .header-logo a {
    font-size: 16px;
  }

  .mobal-twice {order: 1;}
  .mobal-first {order: 2;}
  
  .header-body {
    padding-top: 0px;
  }
  .gallery .swiper-slide {
    width: 650px;
  }
  .gallery .swiper-pagination {
    top: 315px;
  }
  .gallery .swiper-button-next,
  .gallery .swiper-button-prev {
    top: 154px;
  }

  .gallery .swiper-button-prev {
    left: 50%;
    margin-left: -345px;
  }
  .gallery .swiper-button-next {
    right: 50%;
    margin-right: -345px;
  }

  .title + .container .filter-continent {
    position: relative;
    margin-top: -45px;
  }

  .form-search {
    margin-top: 0;
  }

  .form-search-title span {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .form-search-title,
  .help-expert-title {
    font-size: 15px;
  }
  .form-search-title span,
  .help-expert-title span {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .help-expert-title {
    margin-bottom: 40px;
  }
  .help-expert-body {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .help-expert:after {
    top: 120px;
    bottom: 120px;
  }
  .help-expert-radiolist > div {
    width: auto;
  }
  .btn-save {
    top: 30px;
    right: 30px;
  }

  .page-title-tt {
    font-size: 30px;
  }
  
  .gallery-mini {
    margin: 0 -15px 30px -15px;
  }
  .swiper-pagination {
    display: none;
  }

  .side-form-listroutes-title {
    font-size: 24px;
  }

  .gallery-photo .swiper-slide {
    width: 480px;
  }
  .gallery-photo-item img {
    height: 300px;
  }
  .tabs-map {
    margin-bottom: 40px;
  }

  .help-expert .form-horizontal .control-label {
    padding-top: 11px;
  }
}

/*max 992*/
@media (max-width: 991px) {

  .box-formrecall-title,
  .rating-about-title {
    font-size: 20px;
    line-height: 26px;
  }
  footer .btn-default {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-topline {
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;
  }
  .list-articles i {
    font-size: 13px;
  }
  .list-articles a {
    font-size: 14px;
  }
}

/*992*/
@media (min-width: 992px) {
  header {
    margin-top: 0;
  }
  .inside header {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1,
  .h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  h2,
  .h2 {
    font-size: 26px;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
  h4,
  .h4 {
    font-size: 19px;
  }
  h5,
  .h5 {
    font-size: 15px;
  }
  h6,
  .h6 {
    font-size: 13px;
  }
  footer {
    margin-top: 75px;
  }
  .box-formrecall-body {
	padding: 50px;
  }
  .box-formrecall-input input[type="submit"] {
  	width: 190px;
  }
  .socio {
  	margin-bottom: 80px;
  }
  .list-brends > div {
    width: auto;
  }
  .list-brends img {
    margin: 0 auto;
  }
  .header-titlebox-form {
    padding: 40px 85px 50px 85px;
    margin-bottom: 90px;
  }
  .header-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 45px;
  }
  .header-title span {
    font-size: 34px;
    line-height: 54px;
  }
  .header-logo a {
    font-size: 20px;
  }
  .gallery .swiper-slide {
    width: 850px;
  }
  .side-socio,
  .side-subscription {
    margin-bottom: 40px;
  }

  .list-articles-item {
    margin-bottom: 45px;
  }
  .inside .header-topline {
    padding-bottom: 10px;
  }
  .inside .box-header-menu {
    margin-bottom: 5px;
  }

  .filter-side .filter-side-bodyslide {
    display: block;
    padding-top: 15px;
  }

  .tabs-search {
    padding-top: 30px;
    padding-bottom: 55px;
  }
  
  .ipad-first {order: 2;}
  .ipad-twice {order: 1;}
  
  .tabs-search {
    margin: 0 -25px;
  }
  .tabs-search > div {
    margin: 0 25px;
  }

  .filter-continent {
    margin-bottom: 40px;
  }
  .filter-continent a {
    margin: 0 15px;
  }

  .form-search {
    margin-bottom: -75px;
  }

  .form-search {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .instructions-expert-body {
    position: relative;
    z-index: 2;
  }
  .instructions-expert-body:after {
    content: '';
    position: absolute;
    left: 15%;
    right: 15%;
    top: 25px;
    height: 1px;
    border-bottom: 2px dotted #cecece;
    z-index: -1;
  }
  .line {
    margin: 40px 0;
  }
  .gallery .swiper-pagination {
    top: 415px;
  }
  .gallery .swiper-button-next,
  .gallery .swiper-button-prev {
    top: 207px;
  }
  .gallery .swiper-button-prev {
    margin-left: -445px;
  }
  .gallery .swiper-button-next {
    margin-right: -445px;
  }

  .page-title {
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .forminlist {
    padding: 50px;
  }
  .forminlist-title {
    font-size: 24px;
    line-height: 30px;
  }
  .gallery-photo .swiper-slide {
    width: 626px;
  }
  #vmap {
    margin-bottom: 80px;
  }
    
  .header-menu > li:hover .header-menu-podmenu {
    display: block;
  }

  .side-form-listroutes {
    width: 360px;
  }
  .affix {
    top: 20px;
  }
}

/*max 1200*/
@media (max-width: 1199px) {

  .side-subscription form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .side-subscription form div {
    width: 100%;
    order: 1;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .side-subscription form input[type="submit"] {
    float: none;
    order: 2;
    border-radius: 5px;
  }
  .side-subscription form input[type="text"] {
    text-align: center;
  }

  .forminlist .box-formrecall-input {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin-top: 20px;

  }
  .forminlist .box-formrecall-input div {
    width: 100%;
    border-radius: 5px;
    order: 1;
  }
  .forminlist .box-formrecall-input input[type="submit"] {
    order: 2;
    float: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
  }

  .list-sr-title {
    font-size: 18px;
  }
}
/*1200*/
@media (min-width: 1200px) {
  .gallery .swiper-slide {
    width: 1030px;
  }
  .gallery .swiper-pagination {
    top: 515px;
  }
  .gallery .swiper-button-next,
  .gallery .swiper-button-prev {
    top: 255px;
  }
  .gallery .swiper-button-prev {
    margin-left: -535px;
  }
  .gallery .swiper-button-next {
    margin-right: -535px;
  }
  .forminlist {
    padding: 50px;
  }
  .forminlist-title {
    font-size: 30px;
    line-height: 36px;
  }
  .gallery-photo .swiper-slide {
    width: 826px;
  }
  .side-form-listroutes {
    width: 400px;
  }
}